<% layout("/layouts/boilerplate.ejs") %>

<body>
    <h1>All Listings</h1>

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 row-cols-1 ">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col" style="width: 15rem;">
            <% if (listing.image && listing.image.url) { %>
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Location_Image" style="height: 15rem">
            <% } else { %>
            <img src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Location_Image">
            <% } %>
            
             
              <div class="card-img-overlay">
                <p class="card-desc"><%= listing.description %></p>
              </div>
            
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br>
                &#8377 <%=listing.price.toLocaleString("en-IN")%>/night <br>     
                <%= listing.location %> 
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>
    
</body>
