<% layout("/layouts/boilerplate.ejs") %>

<body>
    <h1>All Listings</h1>

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 row-cols-1 ">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col" style="width: 15rem;">
        
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Location_Image" style="height: 15rem">
        
              <div class="card-img-overlay">
                <p class="card-desc"><%= listing.description %></p>
              </div>
            
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br>
                &#8377 <%=listing.price.toLocaleString("en-IN")%>/night <br>     
                <%= listing.location %> 
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>
    
</body>
