<% layout("/layouts/boilerplate.ejs") %>


<body>
    <div class="container">
        <div class="details-container">
            <h3>Listing Details:</h3>

            <div class="card">
                <% if (listing.image && listing.image.url) { %>
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="Location_Image" style="height: 15rem">
                    <% } else { %>
                    <img src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Location_Image">
                    <% } %>
                <!-- <div class="card-body">
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div> -->
              </div>

            <ul>
                <li><strong>Title:</strong> <%= listing.title %></li>
                <li><strong>Description:</strong> <%= listing.description %></li>
                <li><strong>Price:</strong> &#8377 <%= listing.price.toLocaleString("en-IN") %></li>
                <li><strong>Location:</strong> <%= listing.location %></li>
                <li><strong>Country:</strong> <%= listing.country %></li>
            </ul>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit This Listing</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Delete this Listing</button>
            </form>
        </div>
    </div>
</body>
