<% layout("/layouts/boilerplate.ejs") %>


<body>
    <div class="container">
        <div class="details-container">
            <h3>Listing Details:</h3>

            <div class="card">
                    <img src="<%= listing.image %>" class="card-img-top" alt="Location_Image" style="height: 15rem">
              </div>

            <ul>
                <li><strong>Title:</strong> <%= listing.title %></li>
                <li><strong>Description:</strong> <%= listing.description %></li>
                <li><strong>Price:</strong> &#8377 <%= listing.price.toLocaleString("en-IN") %></li>
                <li><strong>Location:</strong> <%= listing.location %></li>
                <li><strong>Country:</strong> <%= listing.country %></li>
            </ul>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit This Listing</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Delete this Listing</button>
            </form>
        </div>
    </div>
</body>
